@media (max-width: 780px) and (min-) {
  .main {
    height: 83%;
  }
}

@media (max-width: 640px) {
  .main {
    height: 80%;
  }
}

@media (max-width: 480px) {
  .main {
    height: 78%;
  }
}

@media (max-width: 360px) {
  .main {
    height: 75%;
  }
}

@media (max-width: 320px) {
  .main {
    height: 70%;
  }
}

@media (max-height: 430px) {
  .main {
    height: 70%;
  }
}

.boxContainer {
  height: 90%;
}
